.slide-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: auto;
    padding: 16px;
    user-select: none;
    transition: 0.6s ease;
    font-size: 20px;
    color: #145A32;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: #16CC21;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
input[type="checkbox"], input[type="radio"] {
    appearance: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    font-size: 22px;
}

input[type="checkbox"]::before {
    content: "⬜";
}

input[type="checkbox"]:checked::before {
    content: "☑";
    color: #1d854a;
}

input[type="radio"]::before {
    content: "⚪";
}

input[type="radio"]:checked::before {
    content: "🔘";
    color: #1d854a;
}
