<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="Header">
        <h1>Simple Social App</h1>
    </div>
    <h2>User Registration</h2>
    <div id="nav">
        <a href="login">Login</a>
        <a href="logout">Logout</a>
        <a href="register">Register</a>
        <a href="app">Application</a>
    </div>
    <div class="ContentBody">
        <form action="/register" method="POST">
        <label>Username</label>
        <input type="text" id="username" name="username" required><br>
        <label>Password</label>
        <input type="password" id="password" name="password" required><br>
        <label>First Name</label>
        <input type="text" id="firstname" name="firstname" required><br>
        <label>Last Name</label>
        <input type="text" id="surname" name="surname" required><br>
        <input type="submit" value="Register">


    </form>
    </div>

</body>
</html>